.navbar {
    background-color: rgb(53, 53, 71);
}

.navbar-brand {
    color: #ffffff;
    font-size: 28px;
}
.nav-link {
    color: #ffffff;
}

body {
    background-image: url('../milky-way-2695569_1920.jpg');
    
}

