.navbar, .footer, .about-me {
    background-color: rgb(53, 53, 71);
    color: #ffffff;
}

.navbar-nav {
    flex-flow: row wrap;
    width: 100%;
}


hr {
    background-color: rgb(53, 53, 71);
    border: solid;
    height:3px;
    width:100%
}

body {
    background-image: url('../kilimanjaro2.jpg');
}

 .footer  {
     position:fixed;
     bottom: 0;
     width: 100%;
     height: 30px;
     text-align: center;
 }

 h1, h2 {
    font-family: 'Lalezar', cursive;
    letter-spacing: 4px;
 }

 .cardbackground  {
    background-color: rgb(53, 53, 71);
    
 }

 .links {
     font-size: 10pt;
 }

 .card-text {
     color: black;
 }

 .info {
     background-color: #ffffff;
 }

 .container {
     max-width: 100%;
 }




